@import '../../../themes/custom/ubccs/sass/variables';

.jumbotron {
  height: 455px;

  .title {
    position: relative;
    bottom: 60px;
    left: 0;
    height: 53px;
    width: 100%;
    padding: 12px 0 0 10px;
    background: rgba(0, 0, 0, 0.6);

    @media (min-width: 768px) {
      bottom: 0;
      top: 220px;
      height: 130px;
      width: 625px;
      padding: 20px 0 0 30px;
    }

    h1 {
      font-size: 18px;
      color: $white;

      @media (min-width: 768px) {
        font-size: 39px;
      }
    }
  }
} // jumbotron

.jumbotron--full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
