body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 40px;
  font-size: 14px;
  line-height: 1.4;
  background: #ccc;
  margin: 0;
}

a {
  color: teal;
  text-decoration: none;
}

.legend {
  float: right;
  width: 30%;
}
.legend__list {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-flow: wrap;
}
.legend li {
  margin: .25em;
  flex: 30% 0 0;
  padding: 0.25em 0.5em;
}

#orphans-menu {
  display: flex;
}

fieldset {
  border: 3px solid #999;
  border-radius:8px;
  padding: 1em;
  margin: 1em 0;
  width: 100%;
}

legend {
  color: #999;
  font-weight: 700;
  padding: 0 .5em;
  float: left;
  margin-bottom: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0.5em 0;
}
ul li {
  margin: 0 .25em;
}
ul ul ul {
  padding-left: 1em;
}
li a {
  display: inline-block;
  color: #666;
  margin: .2em;
  text-decoration: none;
  padding: .2em .5em;
  max-width: 300px;
  border-radius: 3px;
  position: relative;
}

li a[data-count]::after {
  content: attr(data-count);
  position: absolute;
  top: -1.5em;
  right: -1.5em;
  font-size: 9px;
  background: rgba(228, 255, 26, 1);
  color: #333;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  padding: 0 .2em;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

ul#primary-menu,
ul#utility-menu,
ul#footer-menu {
  display: flex;
  width: 100%;
}

.flex-3 > ul {
  display: flex;
}

ul ul ul {
  display: block;
}

ul li a {
  background: #fff;
  font-size: 1.3rem;
}
ul ul li a {
  background: rgba(255,255,255,.8);
  font-size: .9rem;
}
ul ul ul li a {
  background: rgba(255,255,255,.6);
  font-size: .8rem;
}
ul ul ul ul li a {
  background: rgba(255,255,255,.4);
  font-size: .75rem;
}
ul ul ul ul li a {
  background: rgba(255,255,255,.2);
}

.landing {
  background: rgba(0, 153, 153, .5);
  color: #fff;
}

.form {
  background: rgba(235, 110, 131, .5);
  color: #fff;
}

.ext {
  background: rgba(232, 170, 20, .5);
  color: #fff;
}

.list {
  background: rgba(255, 87, 20, .5);
  color: #fff;
}
.link {
  background: rgba(117, 60, 200, 0.47);
  color: #fff;
}

.multiple {
  box-shadow: 3px 3px 0 rgba(150,150,150,.7), 5px 5px 0 rgba(100,100,100,.25);
  background: rgba(27, 231, 255, .5);
  color: #fff;
}

.new {
  background: rgba(87, 200, 60, .5);
  color: #fff;
}

.remove {
  background: rgba(235, 20, 31, .5);
  color: #fff;
  text-decoration: line-through;
}

.toggle {
  position: absolute;
  margin-left: -1em;
  margin-top: 0.75em;
  font-size: 10px;
  color: #777;
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  cursor: pointer;
  padding: 0.25em;
}

@media print {
  * {
    color: #000!important;
    text-shadow: none!important;
    background: 0 0!important;
    box-shadow: none!important
  }
}
