<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" media="all" href="/themes/custom/ubccs/css/normalize.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/misc/normalize-fixes.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/libraries/slick/slick/slick.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/modules/contrib/slick/css/layout/slick.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/ajax-progress.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/align.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/autocomplete-loading.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/fieldgroup.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/container-inline.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/clearfix.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/details.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/hidden.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/item-list.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/js.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/nowrap.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/position-container.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/progress.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/reset-appearance.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/resize.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/sticky-header.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/system-status-counter.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/system-status-report-counters.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/system-status-report-general-info.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/tabledrag.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/tablesort.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/system/components/tree-child.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/modules/contrib/formtips/css/formtips.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/modules/contrib/responsive_table_filter/css/responsive-table-filter.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/stable/css/views/views.module.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/modules/contrib/blazy/css/components/blazy.grid.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/modules/contrib/blazy/css/components/blazy.loading.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/modules/contrib/calendar/css/calendar.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/modules/contrib/calendar/css/calendar_multiday.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/modules/contrib/extlink/extlink.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/modules/layout_discovery/layouts/onecol/onecol.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/libraries/slick/slick/slick-theme.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/modules/contrib/slick/css/theme/slick.theme.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/modules/contrib/slick/css/theme/slick.theme--full.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/modules/contrib/slick/css/theme/slick.theme--fullwidth.css?pi9hte" />
    <link rel="stylesheet" media="all" href="https://cdn.ubc.ca/clf/7.0.4-minimal/css/minimal-clf-full-7.0.4-bw.css" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/messages.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/action-links.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/breadcrumb.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/button.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/collapse-processed.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/container-inline.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/details.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/exposed-filters.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/field.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/form.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/icons.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/inline-form.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/item-list.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/link.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/links.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/menu.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/more-link.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/pager.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/tabledrag.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/tableselect.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/tablesort.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/tabs.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/textarea.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/core/themes/classy/css/components/ui-dialog.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/themes/custom/ubccs/css/bootstrap.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/themes/contrib/galactus/css/clf.drupal.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/themes/custom/ubccs/css/local.clf.fixes.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/themes/custom/ubccs/css/main.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/themes/custom/ubccs/css/layout.css?pi9hte" />
    <link rel="stylesheet" media="all" href="/themes/contrib/galactus/css/clf.social-icons.css?pi9hte" />
    {#<link rel="stylesheet" media="all" href="/themes/contrib/galactus/css/navigation.sticky.css?pi9hte" />#}

    {# @todo Integrate prototype with theme's components. #}
    <link rel="stylesheet" media="all" href="/ia/prototype/css/prototype.css" />

  </head>
  <body>

    {% include 'includes/header.twig' %}

    <div class="full-width-container non-clf">
      <div class="container">
        <main role="main">
          {% block body %}
            {{ content }}
          {% endblock %}
        </main>
      </div>
    </div>

    {% include 'includes/footer.twig' %}
  </body>
</html>
