
    <div class="row">

      <div class="cards">
        <div class="col-sm-6 col-md-4 card-wrapper">
          <a href="#" class="card text-center">
            <div class="card-header"><img class="card-img-top" src="../img/grads/prospective-grads-w290.jpg" alt="Prospective grads"></div>
            <div class="card-body">
              <span class="card-title">Prospective Grads</span>
              <span class="card-text">Learn more about what we offer and join us!</span>
            </div>
            <div class="card-footer"><button class="button button--primary">Learn More</button></div>
          </a>
        </div>

        <div class="col-sm-6 col-md-4 card-wrapper">
          <a href="#" class="card text-center">
            <div class="card-header"><img class="card-img-top" src="../img/placeholder290x190.png" alt="Admissions"></div>
            <div class="card-body">
              <span class="card-title">Admissions</span>
              <span class="card-text">There are no words here.</span>
            </div>
            <div class="card-footer"><button class="button button--primary">Learn More</button></div>
          </a>
        </div>

        <div class="col-sm-6 col-md-4 card-wrapper">
          <a href="#" class="card text-center">
            <div class="card-header"><img class="card-img-top" src="../img/placeholder290x190.png" alt="Card image cap"></div>
            <div class="card-body">
              <span class="card-title">Department Life &amp; Resources</span>
              <span class="card-text">Exceptional professional &amp; social opportunities.</span>
            </div>
            <div class="card-footer"><button class="button button--primary">Learn More</button></div>
          </a>
        </div>

        <div class="col-sm-6 col-md-4 card-wrapper">
          <a href="#" class="card text-center">
            <div class="card-header"><img class="card-img-top" src="../img/grads/dempster-bldg.jpg" alt="Graduate Programs"></div>
            <div class="card-body">
              <span class="card-title">Graduate Programs</span>
              <span class="card-text">We offer multiple versatile program options.</span>
            </div>
            <div class="card-footer"><button class="button button--primary">Learn More</button></div>
          </a>
        </div>

      <div class="col-sm-6 col-md-4 card-wrapper">
        <a href="#" class="card text-center">
          <div class="card-header"><img class="card-img-top" src="../img/placeholder290x190.png" alt="Card image cap"></div>
          <div class="card-body">
            <span class="card-title">Graduate Courses</span>
            <span class="card-text">Checkout our list of graduate courses.</span>
          </div>
          <div class="card-footer"><button class="button button--primary">Learn More</button></div>
        </a>
      </div>

      <div class="col-sm-6 col-md-4 card-wrapper">
        <a href="#" class="card text-center">
          <div class="card-header"><img class="card-img-top" src="../img/grads/awards-financial-support.jpg" alt="Awards and Financial Support"></div>
          <div class="card-body">
            <span class="card-title">Awards & Financial Support</span>
            {#<span class="card-text">Be considered for the CS Department awards.</span>#}
          </div>
          <div class="card-footer"><button class="button button--primary">Learn More</button></div>
        </a>
      </div>

      <div class="col-sm-6 col-md-4 card-wrapper">
        <a href="#" class="card text-center">
          <div class="card-header"><img class="card-img-top" src="../img/grads/poojav_viswanathan_photo_by_martin_dee_public_affairs_1_cropped.jpg" alt="Diversity in CS"></div>
          <div class="card-body">
            <span class="card-title">Diversity in CS</span>
            <span class="card-text">Come and join our community!</span>
          </div>
          <div class="card-footer"><button class="button button--primary">Learn More</button></div>
        </a>
      </div>


    </div>

  </div><!-- row -->
