{% extends "base.twig" %}

{% block body %}

  <!-- METHOD #111 - FLUID Jumbotron with Title, and Lead below it -->
  <div class="jumbotron jumbotron-fluid jumbotron--full-width" style="background: url(../img/banner.jpg) no-repeat center center;background-size: cover;">
    <div class="container" style="height: 400px;">
    </div>

    <div class="landing-banner__title">
      <h1>Graduate Students</h1>
    </div>
  </div>

  <div class="container">
    <div class="landing-intro">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non ex dolor. Mauris fermentum, justo non. Eget luctus ante
            justo et ex. Etiam lobortis ante augue, ac tempor dolor gravida rutrum. </p>
    </div>
  </div>

  {% include 'prototypes/cards.twig' %}

{% endblock %}
