
/**
 * @file
 * Alignment classes for text and block level elements.
 */

.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.text-align-justify {
  text-align: justify;
}

/**
 * Alignment classes for block level elements (images, videos, blockquotes, etc.)
 */
.align-left {
  float: left;
}
.align-right {
  float: right;
}
.align-center {
  //display: block;
  margin-right: auto;
  margin-left: auto;
}

.image--left,
.image--right,
.image--center {
  // Prevent them from stacking beside each other.
  clear: both;

  // Give space away from content above and below.
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.align-left,
.image--left {
  float: left;
  margin-right: 2rem;
}

.align-right,
.image--right {
  float: right;
  margin-left: 2rem;
}

.align-center,
.image--center {
  margin-right: auto;
  margin-left: auto;
}
