@import '../variables';

#back-to-top {
  display: none;
  position: fixed;
  right: 0;
  bottom: 40px;
  width: 40px;
  z-index: 99;
  transition: color .2s ease, background-color .2s ease;
}

.back-to-top__button {
  background-color: $ubc-blue;
  font-weight: 400;
  font-size: .9em;
  color: #fff;
  display: inline-block;
  padding: 14px;
  margin: 0;
  cursor: pointer;
  width: auto;
  border: none;
  text-decoration: none;
  opacity: 0.75;

  &:hover {
    opacity: 0.9;
  }
  i {
    color: #fff;
  }
}

