@import '../variables';

.text-primary {
  color: $unit-color;
}

.text-secondary {
  color: $dark-teal;
}

.text-large {
  font-size: $font-size-base * 2;
}

.intro {
  color: #cc6e20;
  font-size: 2.2rem;
}
