<nav class="container crumbs" role="navigation" aria-labelledby="system-breadcrumb">
  <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
  <ul class="breadcrumb expand" role="navigation" aria-labelledby="system-breadcrumb">
    <li><a href="#">Home</a></li><li><a href="#">Example Section</a></li><li class="active" aria-current="page">Example Active Page</li>
  </ul>
</nav>
