<div class="alert alert-block alert-status">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h4 class="alert-heading">Status</h4>
  <ul class="messages__list">
    <li class="messages__item">
      <p>This is a feedback message for the user.</p>
    </li>
    <li class="messages__item">
      <p>This is another feedback message for the user.</p>
    </li>
  </ul>
</div>

<div class="alert alert-block alert-error">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h4 class="alert-heading">Error</h4>
  <p>This is an error feedback message.</p>
</div>

<div class="alert alert-block alert-warning">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <p>This is an warning feedback message.</p>
</div>

<div class="alert alert-block alert-info">
  <p>This is an info feedback message.</p>
</div>
