<div class="inline-block-left">
  <a href="http://www.grad.ubc.ca/prospective-students/application-admission/apply-online" target="_blank">Click here to apply to the UBC Faculty of Graduate Studies"></span></a>.
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fuga nisi non perferendis quidem soluta voluptate. Accusantium adipisci aut, dolorum explicabo ipsa ipsum molestiae numquam quas recusandae similique voluptate voluptatem?</p>
<div class="inline-block-right">
  <strong>Applying?</strong><p><strong>December 15</strong> deadline for&nbsp; MSc &amp; PhD programs.</p><p><a href="/students/grad/admissions" class="button button--inverse">How to Apply</a></p>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse expedita explicabo necessitatibus veritatis! Ad aperiam culpa, cum distinctio dolorum explicabo, fuga harum incidunt ipsa molestias neque quae quaerat quisquam reprehenderit.</p>
<div class="inline-block-right">
  <h2>Lab Calendar</h2>
  <ul>
    <li><a href="https://my.cs.ubc.ca/space/lab/iccs005">ICCS005</a></li>
    <li><a href="https://my.cs.ubc.ca/space/lab/iccs008">ICCS008</a></li>
    <li><a href="https://my.cs.ubc.ca/space/lab/iccs011">ICCS011</a></li>
  </ul>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse expedita explicabo necessitatibus veritatis! Ad aperiam culpa, cum distinctio dolorum explicabo, fuga harum incidunt ipsa molestias neque quae quaerat quisquam reprehenderit.</p>
