<div class="landing-banner">

  <div class="landing-banner__image extend–background">
    <img src="../img/banner.jpg" alt="Graduate">
  </div>

  <div class="landing-banner__title">
    <h1>Graduate Students</h1>
  </div>
</div>
